.container-box-detailed {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0px 0px 10px 2px black;
  width: max-content;
  height: max-content;
  border-radius: max(0px, min(15px, ((100vw - 7px) - 100%) * 9999)) / 15px;
  padding: 20px;
  background-color: white;
}
.detalle {
  flex-direction: column;
  margin-top: 2rem;
}
.mat-divider {
  margin-left: 1em;
  size: 20px;
  margin-right: 1em;
  border: solid 1px black;
}
@media only screen and (max-width: 1305px) {
  .container-box-detailed {
    flex-direction: column;
    width: 100%;
    margin: 0px;
    box-shadow: none;
    align-items: center;
    background-color: rgb(209, 209, 209);
  }
}
