<div class="container-box-detailed" id="container-box-detailed-{{idBox}}">
    <div class="detalles">
        <h3 id="nombre-{{idBox}}">{{ boxInfo.tituloBox }}</h3>
        <mat-icon id="{{idBox}}-warningTemp">fiber_manual_record</mat-icon><label
            id="{{idBox}}-labelTemp"><b>Temperatura:</b>
            {{
            boxInfo.temperaturaActual }}ºC</label><br />

        <mat-icon id="{{idBox}}-warningHumidity">fiber_manual_record</mat-icon><label
            id="{{idBox}}-labelHumidity"><b>Humedad:</b>
            {{
            boxInfo.humedadActual }}%</label><br />

        <mat-icon id="{{idBox}}-warningDB">fiber_manual_record</mat-icon><label id="{{idBox}}-labelDB"><b>Ruido:</b>
            {{ boxInfo.ruidoActual }}db</label><br />

        <label><b>Confort medio:</b>{{ satisfaccionMedia }}</label>
    </div>

    <mat-divider [vertical]="true"></mat-divider>
    <app-air-quality-details></app-air-quality-details>
</div>