<div class="container-box-detailed" id="container-box-detailed-{{idBox}}">
    <div class="detalles">
        <h3 id="nombre-{{idBox}}">{{ boxInfo.tituloBox }}</h3>
        <label id="{{idBox}}-labelTemp">
            <mat-icon id="{{idBox}}-warningTemp">fiber_manual_record</mat-icon><b>Temperatura:</b>
            {{
            boxInfo.temperaturaActual }}ºC
        </label>

        <label id="{{idBox}}-labelHumidity">
            <mat-icon id="{{idBox}}-warningHumidity">fiber_manual_record</mat-icon><b>Humedad:</b>
            {{
            boxInfo.humedadActual }}%
        </label>

        <label id="{{idBox}}-labelDB">
            <mat-icon id="{{idBox}}-warningDB">fiber_manual_record</mat-icon><b>Ruido:</b>
            {{ boxInfo.ruidoActual }}db
        </label>

        <label><b>Confort medio:</b>{{ satisfaccionMedia }}</label>
    </div>

    <mat-divider [vertical]="true"></mat-divider>
    <app-air-quality-details></app-air-quality-details>
</div>