<div class="container">
  <h2>¿Donde estas?</h2>
  <mat-button-toggle-group name="box" aria-label="Font Style">
    <mat-button-toggle value="norte">Norte</mat-button-toggle>
    <mat-button-toggle value="este">Este</mat-button-toggle>
    <mat-button-toggle value="plaza">Plaza</mat-button-toggle>
    <mat-button-toggle value="oeste">Oeste</mat-button-toggle>
    <mat-button-toggle value="sur">Sur</mat-button-toggle>
    <mat-button-toggle value="fuera">Fuera de la oficina</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <h2>Valora del 1 al 5 tu sensación térmica.</h2>
  Mala <mat-button-toggle-group [(ngModel)]="sensacionTermica" name="sensacionTermica">
    <mat-button-toggle value="0">1</mat-button-toggle>
    <mat-button-toggle value="1">2</mat-button-toggle>
    <mat-button-toggle value="2">3</mat-button-toggle>
    <mat-button-toggle value="3">4</mat-button-toggle>
    <mat-button-toggle value="4">5</mat-button-toggle>
  </mat-button-toggle-group> Buena
  <mat-divider></mat-divider>
  <h2>Valora del 1 al 5 tu confort acustico.</h2>
  <mat-button-toggle-group [(ngModel)]="comfortActustico" name="comfortActustico">
    <mat-button-toggle value="0">1</mat-button-toggle>
    <mat-button-toggle value="1">2</mat-button-toggle>
    <mat-button-toggle value="2">3</mat-button-toggle>
    <mat-button-toggle value="3">4</mat-button-toggle>
    <mat-button-toggle value="4">5</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <h2>Valora del 1 al 5 es tu confort luminico.</h2>
  <mat-button-toggle-group [(ngModel)]="comfortLuminico" name="comfortLuminico">
    <mat-button-toggle value="0">1</mat-button-toggle>
    <mat-button-toggle value="1">2</mat-button-toggle>
    <mat-button-toggle value="2">3</mat-button-toggle>
    <mat-button-toggle value="3">4</mat-button-toggle>
    <mat-button-toggle value="4">5</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" routerLink="principal" routerLinkActive="active" (click)="enviar()">
    Enviar
  </button>
</div>