.mat-divider {
  margin-top: 3em;
  margin-bottom: 2em;
}

.mat-button-toggle-group {
  border-radius: 10px;
  border: solid 1px gray;
}


.mat-button-toggle-checked {
  background-color: rgb(25, 25, 187);
  color: white
}
