<div class="container">
  <h2>¿Donde estas?</h2>
  <mat-button-toggle-group name="box" aria-label="Font Style">
    <mat-button-toggle value="norte">Norte</mat-button-toggle>
    <mat-button-toggle value="este">Este</mat-button-toggle>
    <mat-button-toggle value="plaza">Plaza</mat-button-toggle>
    <mat-button-toggle value="oeste">Oeste</mat-button-toggle>
    <mat-button-toggle value="sur">Sur</mat-button-toggle>
    <mat-button-toggle value="fuera">Fuera de la oficina</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <h2>¿Cual es tu sensacion termica?</h2>
  <mat-button-toggle-group [(ngModel)]="sensacionTermica" name="sensacionTermica" aria-label="Font Style">
    <mat-button-toggle value="-3">Mucho calor</mat-button-toggle>
    <mat-button-toggle value="-2">Calor</mat-button-toggle>
    <mat-button-toggle value="-1">Poco calor</mat-button-toggle>
    <mat-button-toggle value="0">Aceptable</mat-button-toggle>
    <mat-button-toggle value="1">Poco frio</mat-button-toggle>
    <mat-button-toggle value="2">Frio</mat-button-toggle>
    <mat-button-toggle value="3">Mucho frio</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <h2>¿Cual es tu confort acustico?</h2>
  <mat-button-toggle-group [(ngModel)]="comfortActustico" name="comfortActustico" aria-label="Font Style">
    <mat-button-toggle value="-3">Demasiado ruido molesto</mat-button-toggle>
    <mat-button-toggle value="-2">Un poco ruido molesto</mat-button-toggle>
    <mat-button-toggle value="-1">Algo de ruido</mat-button-toggle>
    <mat-button-toggle value="0">Silencio</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <h2>¿Cual es tu confort luminico?</h2>
  <mat-button-toggle-group [(ngModel)]="comfortLuminico" name="comfortLuminico" aria-label="Font Style">
    <mat-button-toggle value="-3">Demasiada luz natural</mat-button-toggle>
    <mat-button-toggle value="-1">Buena luz natural</mat-button-toggle>
    <mat-button-toggle value="-2">Poca luz natural</mat-button-toggle>
    <mat-button-toggle value="0">Luz adecuada</mat-button-toggle>
    <mat-button-toggle value="2">Poca luz artificial</mat-button-toggle>
    <mat-button-toggle value="1">Buena luz artificial</mat-button-toggle>
    <mat-button-toggle value="3">Demasiada luz artificial</mat-button-toggle>

  </mat-button-toggle-group>
  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" routerLink="principal" routerLinkActive="active" (click)="enviar()">
    Enviar
  </button>
</div>