<div class="container" *ngIf="weatherBool">
  <div id="ciudad"><label id="labelCiudad"><b>{{weather.ciudad}}</b> </label><img id="wicon1" src="{{weather.icono}}"
      alt="Weather icon">
  </div>

  <mat-divider></mat-divider>

  <label><b>Temperatura actual:</b> {{weather.hoy.temperatura.temperatura_actual}}ºC</label><br />
  <label><b>Sensacion termica:</b> {{weather.hoy.temperatura.sensacion_termica}}ºC</label>

  <mat-divider></mat-divider>

  <label><b>Presion atmosferica:</b> {{weather.hoy.presion_atm}} hPa</label><br />
  <label><b>Humedad:</b> {{weather.hoy.humedad}}%</label>

  <mat-divider></mat-divider>

  <label><b>Velocidad del viento:</b> {{weather.hoy.viento.velocidad}}km/h
    {{weather.hoy.viento.direccion_viento}}</label><br />
  <label><b>Nubes:</b>{{weather.hoy.nubes}}%</label>

  <mat-divider></mat-divider>

  <label><b>Prevision proximos 3 dias:</b></label><br>
  <div id="iconos">
    <img id="wicon1" src="{{weather.prevision_tres_dias.dia_uno}}" alt="Weather icon">
    <img id="wicon2" src="{{weather.prevision_tres_dias.dia_dos}}" alt="Weather icon">
    <img id="wicon3" src="{{weather.prevision_tres_dias.dia_tres}}" alt="Weather icon">
  </div>

  <mat-divider></mat-divider>
</div>