<div class="container" *ngIf="weatherBool">
  <div id="ciudad"><label id="labelCiudad"><b>{{ weatherInfo.name }}</b> </label><img *ngIf="forecastBool" id="wicon1"
      src="{{ this.forecast.daily![1].weather![0].icon }}" alt="Weather icon"></div>

  <mat-divider></mat-divider>

  <label><b>Temperatura actual:</b> {{ this.weatherInfo.main.temp }}ºC</label><br />
  <label><b>Sensacion termica:</b> {{ this.weatherInfo.main.feels_like }}ºC</label>

  <mat-divider></mat-divider>

  <label><b>Presion atmosferica:</b> {{ weatherInfo.main.pressure }} hPa</label><br />
  <label><b>Humedad:</b> {{ weatherInfo.main.humidity }}%</label>

  <mat-divider></mat-divider>

  <label><b>Velocidad del viento:</b> {{ weatherInfo.wind.speed }} km/h {{ dirViento }}</label><br />
  <label><b>Rachas de viento:</b> {{ weatherInfo.wind.gust }} km/h {{ dirViento }}</label>


  <mat-divider></mat-divider>

  <label><b>Nubes:</b> {{ weatherInfo.clouds.all }}%</label>


  <mat-divider></mat-divider>

  <label *ngIf="forecastBool"><b>Prevision proximos 3 dias:</b></label><br>
  <div id="iconos" *ngIf="forecastBool">
    <img id="wicon1" src="{{ this.forecast.daily![1].weather![0].icon }}" alt="Weather icon">
    <img id="wicon2" src="{{ this.forecast.daily![2].weather![0].icon }}" alt="Weather icon">
    <img id="wicon3" src="{{ this.forecast.daily![3].weather![0].icon }}" alt="Weather icon">
  </div>

  <mat-divider></mat-divider>

  <label><b>Ultima actualizacion:</b> {{ultimaActualizacion}}</label>
</div>