<div class="container">
  <mat-icon id="boxPlazaWarningRespirables">fiber_manual_record</mat-icon><label
    id="boxPlaza-labelRespirables"><b></b>PM10:
    {{detallesAire.particulasRespirables}} µg/m³ de 35*.</label><br />

  <mat-icon id="boxPlaza-WarningFinas">fiber_manual_record</mat-icon><label class="boxPlaza-label"><b>PM2.5:</b> {{
    detallesAire.particulasFinas
    }}µg/m³ de 25*.</label><br />

  <mat-icon id="boxPlaza-WarningOzono">fiber_manual_record</mat-icon><label class="boxPlaza-label"><b></b>O3:
    {{
    detallesAire.ozono
    }}µg/m³ de 180*.</label><br />

  <mat-icon id="boxPlaza-WarningNitrogeno">fiber_manual_record</mat-icon><label class="boxPlaza-label">NO2:
    {{
    detallesAire.dioxidoNitrogeno
    }}µg/m³ de 200*.</label><br />

  <mat-icon id="boxPlaza-WarningAzufre">fiber_manual_record</mat-icon><label class="boxPlaza-label">SO2: {{
    detallesAire.dioxidoAzufre
    }}µg/m³ de 350*.</label><br />

  <h5>* recomendacion maxima diaria.</h5>
</div>