<div class="container">
  <mat-icon id="{{idBoxFocus}}warningRespirables">fiber_manual_record</mat-icon><label
    id="{{idBoxFocus}}-labelRespirables"><b></b>PM10:
    {{detallesAire.particulasRespirables}} µg/m³ de 35*.</label><br />

  <mat-icon id="{{idBoxFocus}}warningFinas">fiber_manual_record</mat-icon><label class="{{idBoxFocus}}-label"><b>PM2.5:</b> {{
    detallesAire.particulasFinas
    }}µg/m³ de 25*.</label><br />

  <mat-icon id="{{idBoxFocus}}warningOzono">fiber_manual_record</mat-icon><label class="{{idBoxFocus}}-label"><b></b>O3: {{
    detallesAire.ozono
    }}µg/m³ de 180*.</label><br />

  <mat-icon id="{{idBoxFocus}}warningNitrogeno">fiber_manual_record</mat-icon><label class="{{idBoxFocus}}-label">NO2:
    {{
    detallesAire.dioxidoNitrogeno
    }}µg/m³ de 200*.</label><br />

  <mat-icon id="{{idBoxFocus}}warningAzufre">fiber_manual_record</mat-icon><label class="{{idBoxFocus}}-label">SO2: {{
    detallesAire.dioxidoAzufre
    }}µg/m³ de 350*.</label><br />

  <h5>* recomendacion maxima diaria.</h5>
</div>