<div class="container">
  <h3>Informacion detallada</h3>
  <label id="boxPlaza-labelRespirables">
    <mat-icon id="boxPlaza-WarningRespirables">fiber_manual_record</mat-icon><b>PM10:</b>
    {{detallesAire.particulasRespirables}} µg/m³ de 35*.
  </label>

  <label class="boxPlaza-label">
    <mat-icon id="boxPlaza-WarningFinas">fiber_manual_record</mat-icon><b>PM2.5:</b> {{
    detallesAire.particulasFinas
    }}µg/m³ de 25*.

  </label>

  <label class="boxPlaza-label">
    <mat-icon id="boxPlaza-WarningOzono">fiber_manual_record</mat-icon><b>O3:</b>
    {{
    detallesAire.ozono
    }}µg/m³ de 180*.

  </label>

  <label class="boxPlaza-label">
    <mat-icon id="boxPlaza-WarningNitrogeno">fiber_manual_record</mat-icon><b>NO2:</b>
    {{
    detallesAire.dioxidoNitrogeno
    }}µg/m³ de 200*.

  </label>

  <label class="boxPlaza-label">
    <mat-icon id="boxPlaza-WarningAzufre">fiber_manual_record</mat-icon><b>SO2:</b> {{
    detallesAire.dioxidoAzufre
    }}µg/m³ de 350*.
  </label>

  <h5>* recomendacion maxima diaria.</h5>
</div>