<div class="container-box" id="container-box-{{idBox}}">
  <h3 id="nombreBox">{{ boxInfo.tituloBox }}</h3>
  <mat-icon id="{{idBox}}-warningTemp">fiber_manual_record</mat-icon><label id="{{idBox}}-labelTemp">Temperatura: {{
    boxInfo.temperaturaActual }}ºC</label><br />

  <mat-icon id="{{idBox}}-warningHumidity">fiber_manual_record</mat-icon><label id="{{idBox}}-labelHumidity">Humedad: {{
    boxInfo.humedadActual }}%</label><br />

  <mat-icon id="{{idBox}}-warningDB">fiber_manual_record</mat-icon><label id="{{idBox}}-labelDB">Ruido:
    {{ boxInfo.ruidoActual }}db</label><br />

  <mat-icon id="{{idBox}}-warningAirQuality">fiber_manual_record</mat-icon><label id="{{idBox}}-labelAirQuality">Calidad
    Aire:
    {{ boxInfo.calidadAireActual }}</label><br />
  <h4>Confort medio: {{ satisfaccionMedia }}</h4>
</div>