<div class="container-box" id="container-box-{{idBox}}">
  <h3 id="nombre-{{idBox}}">{{ boxInfo.tituloBox }}</h3>
  <label id="{{idBox}}-labelTemp">
    <mat-icon id="{{idBox}}-warningTemp">fiber_manual_record</mat-icon>Temperatura: {{
    boxInfo.temperaturaActual }}ºC
  </label>

  <label id="{{idBox}}-labelHumidity">
    <mat-icon id="{{idBox}}-warningHumidity">fiber_manual_record</mat-icon>Humedad: {{
    boxInfo.humedadActual }}%
  </label>

  <label id="{{idBox}}-labelDB">
    <mat-icon id="{{idBox}}-warningDB">fiber_manual_record</mat-icon>Ruido:
    {{ boxInfo.ruidoActual }}db
  </label>

  <label id="{{idBox}}-labelAirQuality">
    <mat-icon id="{{idBox}}-warningAirQuality">fiber_manual_record</mat-icon>Calidad
    Aire:
    {{ boxInfo.calidadAireActual }}
  </label>
  <h4>Confort medio: {{ satisfaccionMedia }}</h4>

</div>