.container-oficina {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  height: 100vh;
}
#divIzquierdo,
#divDerecho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#divCentral {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.box {
  width: max-content;
  height: max-content;
  border-radius: 15px;
}
