<div class="container-oficina">

  <div class="divBoxes" id="divSuperior">
    <app-box *ngIf="completado" [idBox]="norte.id" [nombre]="norte.nombre" [feedbacks]="feedbacksNorte" class="box"
      id="boxNorte">
    </app-box>
  </div>

  <div class="divBoxes" id="divCentral">
    <app-box *ngIf="completado" [idBox]="oeste.id" [nombre]="oeste.nombre" [feedbacks]="feedbacksOeste" class="box"
      id="boxOeste">
    </app-box>

    <app-box-detailed *ngIf="completado" [idBox]="plaza.id" [nombre]="plaza.nombre" [feedbacks]="feedbacksPlaza">
    </app-box-detailed>

    <app-box *ngIf="completado" [idBox]="este.id" [nombre]="este.nombre" [feedbacks]="feedbacksEste" class="box"
      id="boxEste">
    </app-box>
  </div>

  <div class="divBoxes" id="divInferior">
    <app-box *ngIf="completado" [idBox]="sur.id" [nombre]="sur.nombre" [feedbacks]="feedbacksSur" class="box"
      id="boxSur">
    </app-box>
  </div>

</div>