<div class="container">
  <div id="divOeste">
    <app-box [id]="oeste.id" [nombre]="oeste.nombre" class="box" id="boxOeste" (click)="abrirDetalles('boxOeste')">
    </app-box>
  </div>
  <div id="divCentral">
    <app-box [id]="norte.id" [nombre]="norte.nombre" class="box" id="boxNorte" (click)="abrirDetalles('boxNorte')">
    </app-box>
    <app-box [id]="plaza.id" [nombre]="plaza.nombre" class="box" id="boxPlaza" (click)="abrirDetalles('boxPlaza')">
    </app-box>
    <app-box [id]="sur.id" [nombre]="sur.nombre" class="box" id="boxSur" (click)="abrirDetalles('boxSur')">
    </app-box>
  </div>

  <div id="divEste">
    <app-box [id]="este.id" [nombre]="este.nombre" class="box" id="boxEste" (click)="abrirDetalles('boxEste')">
    </app-box>
  </div>

</div>