.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 20vw;
  width: 55vw;
  height: 100vh;
}
#divOeste, #divEste{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#divCentral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.box {
  width: fit-content;
}