@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@700&family=Source+Sans+Pro&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 40px !important;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif !important;
}
h2 {
  font-size: 30px !important;
  font-family: "Saira Semi Condensed", sans-serif !important;
}
h3 {
  font-size: 25px !important;
  font-family: "Saira Semi Condensed", sans-serif !important;
}
h4 {
  font-size: 20px !important;
  font-family: "Saira Semi Condensed", sans-serif !important;
}
h5 {
  font-size: 15px !important;
  font-family: "Saira Semi Condensed", sans-serif !important;
}
label {
  font-size: 20px !important;
  font-family: "Source Sans Pro", sans-serif !important;
}
p {
  font-family: "Source Sans Pro", sans-serif !important;
}
.mat-icon {
  font-size: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
